<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Just another ERC20 DAPP</title>
    <base href="/" />
  </head>
  <body>
    <h1>Just another ERC20 DAPP</h1>
    <div id="root"></div>
  </body>
</html>